<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {%- if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {%- endif %}
    {%- if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {%- endif %}
    {%- if CATEGORY_FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {%- endif %}
    {%- if CATEGORY_FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {%- endif %}
    {%- if TAG_FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {%- endif %}
    {%- if TAG_FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {%- endif %}
    {%- endblock head %}
    <!-- Bootstrap -->
    <link href="{{ SITEURL }}/theme/css/mytheme.css" rel="stylesheet">
    <script type="text/javascript"
	    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
   <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
   <link href="{{ SITEURL }}/theme/css/prettify.css"/>
   <script src="{{ SITEURL }}/theme/js/prettify.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/js/lang-ml.js" type="text/javascript"></script>
   
  </head>
  <script>
    $(document).ready( function () {
    prettyPrint();
    });
  </script>
  <body id="index" class="home">
    <!-- Header -->
    <div id="header" class="content1">
      <div class="content2">
	<div class="main-column"><h1 id="sitename"><a href="/">{{ SITENAME }}</a></h1></div>
	<div class="right-column"></div>
      </div>
    </div>

    <!-- Main content -->
    <div class="content1">
      <div class="content2">
	<div id="maincontent" class="main-column">
	  {% block content %}
	  {% endblock %}
	</div>
	<div class="right-column">
	  <h2>Pages</h2>
	  <ul class="pagelist">
            {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
            {% else %}
            {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
            {% endif %}
	  </ul>

	  <h2>Tags</h2>
	  <ul class="tagcloud">
	    {% for tag in tag_cloud -%} 
            <li class="tag-{{ tag.1 }}"><a href="/tag/{{ tag.0.name.lower() }}.html">{{ tag.0 }}</a></li>
	    {% endfor -%}
	  </ul>
	  <h2>Last Tweets</h2>
<!-- Twitter -->
	  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#bbc',
      color: '#000'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#23116b'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('jackson_dk').start();
</script>
	</div>
      </div>
    </div>

    <div id="footer" class="content1 footer">
      <div class="content2">
	<div class="main-column">
	  <address id="about" class="vcard body">
            Powered by a <a href="https://github.com/jacksondk/pelican">adjusted version</a>
            of <a href="http://getpelican.com/">Pelican</a>, taking
            advantage of <a href="http://python.org">Python</a>.
	  </address><!-- /#about -->
	</div><!-- /#contentinfo -->
	<div class="right-column">
	</div>
      </div>
    </div>
  </body>
</html>
