{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}        
<section id="content" class="container">
  {% block content_title %}
  {% endblock %}
  <ul id="post-list">
    {% for article in articles_page.object_list %}        
    <li><article>
	<h2 class="entry-title">
	  <a href="{{ SITEURL }}/{{ article.url }}" 
	     rel="bookmark" 
	     title="Permalink to {{ article.title}}">{{ article.title }}</a>
	</h2>
	{{ macros.createInfo( article.locale_date, article.updated, article.author) }}
	<div class="entry-content"> {{ article.summary }} </div>
	<div class="read-more"><a href="{{ SITEURL }}/{{ article.url }}">Read more</a></div>
    </article></li>
    {% endfor %}
  </ul><!-- /#posts-list -->
  {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
